<ul>
    <li class="active">
        <a href="{{ path("app_dashboard") }}" class="nav-link">
            <i class="bi bi-house"></i>
            Dashboard
        </a>
    </li>
    <li>
        <a href="{{ path("app_inbox_index") }}" class="nav-link">
            <i class="bi bi-inboxes"></i>
            Inbox
        </a>
    </li>
</ul>

<hr class="my-3">

<ul>
    <li>
        <a href="#" class="nav-link">
            <i class="bi bi-gear"></i>
            Settings
        </a>
    </li>
    <li>
        <a href="{{ path("app_note_index") }}" class="nav-link">
            <i class="bi bi-card-text"></i>
            Notes
        </a>
    </li>
</ul>