<ul>
    <li {% if app.request.get("_route") starts with "app_dashboard_" %}class="active"{% endif %}>
        <a href="{{ path("app_dashboard_index") }}" class="nav-link">
            <i class="bi bi-house"></i>
            Dashboard
        </a>
    </li>
    <li {% if app.request.get("_route") starts with "app_inbox_" %}class="active"{% endif %}>
        <a href="{{ path("app_inbox_index") }}" class="nav-link">
            <i class="bi bi-inboxes"></i>
            Inbox
        </a>
    </li>
</ul>

<hr class="my-3">

<ul>
    <li {% if app.request.get("_route") starts with "app_settings_" %}class="active"{% endif %}>
        <a href="#" class="nav-link">
            <i class="bi bi-gear"></i>
            Settings
        </a>
    </li>
    <li {% if app.request.get("_route") starts with "app_note_" %}class="active"{% endif %}>
        <a href="{{ path("app_note_index") }}" class="nav-link">
            <i class="bi bi-card-text"></i>
            Notes
        </a>
    </li>
</ul>