<!doctype html>
<html lang="en">
    <head>
        {% include "_lib/base/head.html.twig" %}
        
        <title>Godot - {% block title %}{% endblock %}</title>
    </head>

    <body>
        <div class="container d-flex justify-content-center align-items-center">
            <div class="card mt-5">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-4">
                        <img class="me-3" src="/img/logo.png" alt="Godot logo" width="72" height="72">
                        <div class="lh-100 pt-4">
                            <h1 class="h1 lh-100">Godot</h1>
                        </div>
                    </div>
                
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>