{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block sidebar %}{% endblock %}
{% block header %}{% endblock %}

{% block body %}
    <div class="card" style="width: 50rem;">
        <div class="container-fluid">
            <div class="d-flex">
                <div class="d-flex">              
                    <img class="logo me-2" src="/img/logo.png">
                    <h2>Godot - Login</h2>
                </div>
            </div>
        </div>

        <p>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            {% if checkMail %}
                <div class="alert alert-success" role="alert">
                    A mail has been sent to verify your e-mail address. Check your SPAM folder and blabla...
                </div>
            {% endif %}
        </p>

        <form action="{{ path('app_login') }}" method="post">
            <div class="mb-3 row">
                <label class="col-form-label col-sm-2 required" for="username">Email</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}">
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-form-label col-sm-2 required" for="password">Password</label>
                <div class="col-sm-10">
                    <input class="form-control" type="password" id="password" name="_password">
                </div>
            </div>

            {# If you want to control the URL the user is redirected to on success
            <input type="hidden" name="_target_path" value="/account"> #}
            
            <button type="submit" class="btn btn-primary">login</button>
        </form>
    </div>
{% endblock %}